<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>

<body>
    <h1> Oops! </h1>
                    <h2> 404 Not Found </h2>
                    <div >
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div >
                        <a href="/" ><span></span>
                            Take Me Home </a>
                    </div>


    
</body>

</html>